#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  border: 1dvh ridge #b22727;
  padding: 0 1dvw;
  background: blue;
}

nav > ul > li {
  margin: 0 1dvw;
  font-weight: 900;
}

a {
  color: white;
  text-decoration: none;
  padding: 1dvh;
}

a:hover {
  outline: 2px solid white;
}

.mailboxNumber {
  color: white;
  font-size: 4dvh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 0 0 .1dvh black;
  border: 1dvh ridge gray;
  outline: .5dvh solid black;
  width: 10dvw;
  aspect-ratio: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: no-repeat linear-gradient(gray 20%, black 20%, black 30%, gray 30%);
  background-size: 70%;
  background-position: 50% 50%;
  background-color: gray;
  padding: 3dvh;
}

.mailboxNumber > * {
  margin: 0;
}

textarea {
  min-width: 50dvw;
  aspect-ratio: calc(1/1.294);
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

dl > div {
  display: flex;
}

.mailedLetter {
  border: .5dvh solid black;
  background: white;
  color: black;
  filter: brightness(85%);
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  padding: 1dvh;
  margin: 1dvh;
  padding: 0;
}

.mailedLetter > dd {
  margin: .3dvh 1dvh;
}

.keyhole {
  border: .5dvh solid darkgrey;
  border-radius: 50%;
  width: 3dvw;
  aspect-ratio: 1;
  background: linear-gradient(90deg, #444 45%, #1e1e1e 45%, #1e1e1e 55%, #444 55%);
  translate: 0 2dvh;
  transition: all linear .3s;
}

.keyhole:hover {
  rotate: 90deg;
}

p {
  translate: 0 2dvh;
}

hr {
  width: 100%;
}

#div-letter {
  background: transparent;
  border: 15dvh solid white;
  border-top: 15dvh solid #dadada;
  border-left: 30dvh solid white;
  border-right: 30dvh solid white;
  outline: .5dvh solid black;
  filter: drop-shadow(0 0 .1dvh white);
  position: fixed;
  top: 30dvh;
  transition: all linear 1s;
}

#div-letter:hover {
  translate: 100dvw;
}

#letter-top-flap {
  border: 30dvh solid white;
  border-top: 15dvh solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  filter: drop-shadow(0 0 .2dvh black);
  margin: 0;
  position: fixed;
  top: -15dvh;
  left: -30dvh;
}